/*
  (this is a CSS comment)
  Jing Yi Feng
  IntroCS pd02 sec02
  HW05 -- Stuylin'
  2021-02-10
*/



/*
structure of a CSS ruleset:
SELECTOR { 0 or more DECLARATIONS }
where each declaration is of the form
PROPERTY : VALUE;
 */

/* this will style all h1 and h2 elements with color lightpink */
/* background color is lightseelblue */

	
body {
		background-color: #fff0f5;
		color: black;
		font-family:Lucida Console, Courier, monospace;
	}
	h1 {
		color: #b0c4de;
		font-family: Lucida Console, Courier, monospace;
		font-size: xx-large;
		border: 1rem solid;
		border-color: #d8bfd8 #e6e6fa;
	}
	h2 {
		color: #b0c4de;
		font-family: Lucida Console, Courier, monospace;
		border: 1rem solid;
		border-color: #d8bfd8 #e6e6fa;
	}
        h3 {
		border: 1rem solid;
		border-color: #d8bfd8 #e6e6fa;
        }
			
